# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Databases
*.db
*.sqlite
backend/test.db

# Vector store cache / dynamic model states
backend/app/vectorstore/index.faiss
backend/app/vectorstore/index.pkl

# IDE / Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
Thumbs.db
ehthumbs.db
Desktop.ini
